body {
  padding: 0;
  margin: 0;
  background: #fff;
  font-family: tahoma, arial, sans-serif; }

.b-head {
  width: 960px;
  margin: 3% auto 0;
  padding: 15px 0 10px; }
  .b-head:after {
    visibility: hidden;
    display: block;
    content: "";
    clear: both;
    height: 0; }

.b-logo {
  display: inline-block;
  margin: 0;
  font-family: georgia;
  font-size: 28px; }

.b-menu {
  float: right;
  padding: 0;
  margin: 0;
  list-style: none; }
  .b-menu__item {
    display: inline-block;
    margin: 0;
    padding: 0; }
  .b-menu__link {
    display: block;
    padding: 7px 15px 8px; }

.b-page {
  background: #A7DBD8;
  min-height: 400px; }

.b-panel {
  width: 960px;
  margin: 0 auto;
  padding: 20px 0; }
  .b-panel__left, .b-panel__right {
    display: inline-block;
    width: 50%; }

.b-footer {
  width: 960px;
  margin: 0 auto;
  padding: 20px 0; }
